[Desktop Entry]
Version=1.0
Type=Application
Name=garuda-chroot
Comment=GUI for garuda-chroot
Categories=System;
Icon=system-run
TryExec=garuda-chroot
Exec=garuda-chroot -a
Terminal=true
