[Desktop Entry]
Version=1.0
Type=Application
Name=Garuda Chroot
Name[de]=Garuda Chroot GUI
Comment=GUI for garuda-chroot
Comment[de]=Eine GUI für garuda-chroot
Categories=System;
Icon=system-run
TryExec=garuda-chroot
Exec=garuda-chroot-gui
